{% extends 'base.html.twig' %}
{% block main %}
    <div class="container">
        <h1 class="well">Listado de Autos</h1>
        {% if cars %}
        <div class="panel panel-default">
            <table class="table">
                <tr>
                    <td align="center"><strong>Ubicacion</strong></td>
                    <td align="center"><strong>Fecha Inicio</strong></td>
                    <td align="center"><strong>Fecha Fin</strong></td>
                    <td align="center"><strong>Marca</strong></td>
                    <td align="center"><strong>Modelo</strong></td>
                    <td align="center"><strong>Gama</strong></td>
                    
                    <td align="center"><strong>Capacidad</strong></td>
                    <td align="center"><strong>Precio</strong></td>
                </tr>
                {% for car in cars %}
                <tr>
                    <td align="center">{{ car.getCiudadDestino }}</td>
                    <td align="center">{{ fechaDesde }}</td>
                    <td align="center">{{ fechaHasta }}</td>
                    <td align="center">{{ car.getMarca }}</td>
                    <td align="center">{{ car.getModelo }}</td>
                    <td align="center">{{ car.getGama }}</td>
                    <td align="center">{{ car.getCapacidad }}</td>
                    <td align="center">${{ car.getPrecio }}</td>
                    {% if rol == 'cliente' %}

                        <div class="text-right">
                      {% if cars_carrito is not null %}  
                          {% if car.id not in cars_carrito %}              
                                <button id="{{car.id}}" class="btn btn-primary btn-lg {{car.id}}" style="font-family: 'Anton', sans-serif;color:white; width=120px" onclick="agregarAutoCarrito('{{car.id}}','{{fechaDesde}}','{{fechaHasta}}');">Agregar   <span class="glyphicon glyphicon-shopping-cart"></span></button>
                          {% else %}
                                <button id="{{car.id}}" class="btn btn-success btn-lg" style="font-family: 'Anton', sans-serif;color:white; width=120px" onclick="agregarAutoCarrito('{{car.id}}');">Agregado   <span class="glyphicon glyphicon-shopping-cart"></span></button>
                            {% endif %}
                    {% else %}
                          <button id="{{car.id}}" class="btn btn-primary btn-lg {{car.id}}" style="font-family: 'Anton', sans-serif;color:white; width=120px" onclick="agregarAutoCarrito('{{car.id}}','{{fechaDesde}}','{{fechaHasta}}');">Agregar   <span class="glyphicon glyphicon-shopping-cart"></span></button>
                        {% endif %}


                    </div>
                {% endif %} 
                </tr>
                {% endfor %}
            </table>
        </div>

        {% else %}
        <div class="alert alert-warning" role="alert"><strong>Oops!</strong> No se han encontrado autos con los filtros ingresados.
        </div>
        {% endif %}
        <div align="center">
            <button class="btn btn-primary navbar-btn" onClick="window.location.href='javascript:history.back(-1);'">Volver</button>
        </div>  
    </div>
{% endblock %}

{% block javascripts %}
    <script src="assets/js/carrito/carrito.js"></script>
{% endblock %}