{% extends 'base.html.twig' %}
{% block main %}

    <div class="container">

        <h2 class="text-center well" style="background-color:#666666; color:white;font-family: 'Coiny', cursive;">Listado de Vuelos</h2>
       <h4 class="well" style="background-color:#9E9E9E; color:white; font-family: 'Coiny', cursive;">Vuelos Directos  <span class="glyphicon glyphicon-arrow-right"></span></h4>
        {% if flights.directos %}
            {% for flight in flights.directos%}
            <div class="well">
                <table class="table table-responsive" style="background-color:white">
                  <thead>
                    <tr style="background-color:#6B9293">
                      <th><h4 style="font-family: 'Coiny', cursive;color:white"> <span class="glyphicon glyphicon-plane"></span> {{flight.fechaSalida|date('d/m/Y')}}</h3></th>
                      <th><h3  style="font-family: 'Anton', sans-serif;color:white">{{flight.ciudadOrigen|capitalize}}</h3></th>
                      <th><h3 style="font-family: 'Anton', sans-serif;color:white">{{flight.ciudadDestino|capitalize}}</h3></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th><h4  style="font-family: 'Coiny', cursive;">{{flight.aerolinea}}</h4></th>
                      <td><h4  style="font-family: 'Coiny', cursive;">{{flight.fechaSalida|date('H:i')}}</h4></td>
                      <td><h4 style="font-family: 'Coiny', cursive;">{{flight.fechaLlegada|date('H:i')}}</h4></td>
                    </tr>
                  </tbody>
                </table>
                <div class="text-center">
                   <h1 style="font-family: 'Coiny', cursive;">$ {{flight.precio|number_format}}</h1> 
                </div>
                <div class="text-right">                
                    <button id="{{flight.id}}" class="btn btn-primary btn-lg" style="font-family: 'Anton', sans-serif;color:white; width=120px" onclick="agregarCarrito({{flight.id}});">Agregar   <span class="glyphicon glyphicon-shopping-cart"></span></button>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <br>
        <br>

        {% if flights.escalas %}
            <h4 class="well" style="font-family: 'Coiny', cursive; background-color:#9E9E9E; color:white">Vuelos con Escalas   <span class="glyphicon glyphicon-retweet"></span></h4>
            {% for flight in flights.escalas%}
                <div class="well">
                     <table class="table table-responsive" style="background-color:white">
                     {% for escala in flight.vuelos %}
                          <thead>
                            <tr style="background-color:#6B9293">
                              <th><h4 style="font-family: 'Coiny', cursive;color:white"> <span class="glyphicon glyphicon-plane"></span> {{escala.fechaSalida|date('d/m/Y')}}</h3></th>
                              <th><h3  style="font-family: 'Anton', sans-serif;color:white;width=120%">{{escala.ciudadOrigen|capitalize}}</h3></th>
                              <th><h3  style="font-family: 'Anton', sans-serif;color:white">{{escala.ciudadDestino|capitalize}}</h3></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="text-left">
                              <th><h4 style="font-family: 'Coiny', cursive;">{{escala.aerolinea}}</h4></th>
                              <td><h4 style="font-family: 'Coiny', cursive;">{{escala.fechaSalida|date('H:i')}}</h4></td>
                              <td><h4 style="font-family: 'Coiny', cursive;">{{escala.fechaLlegada|date('H:i')}}</h4></td>
                            </tr>
                            <tr></tr>
                          </tbody>
                          
                    {% endfor %}
                    </table>
                    <div class="text-center">
                        <h1 style="font-family: 'Coiny', cursive;">$ {{flight.precio|number_format}}</h1> 
                    </div>
                    <div class="text-right">
                        <button id="{{flight.id}}" class="btn btn-primary btn-lg" style="font-family: 'Anton', sans-serif;color:white; width=120px" onclick="agregarCarrito('{{flight.id}}');">Agregar  <span class="glyphicon glyphicon-shopping-cart"></span></button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if flights.directos is empty and flights.escalas is empty %}
            <div class="alert alert-warning" role="alert"><strong>Oops!</strong> No se han encontrado vuelos con los filtros ingresados.</div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="assets/js/carrito/carrito.js"></script>
{% endblock %}
