{% extends 'base.html.twig' %}
{% block main %}
<div class="container" style="margin: auto">
    <h1 class="col-lg-12 well">Buscar Vuelo</h1>
    <div class="col-lg-12 well">
        <div class="row">
            <form name="form" method="post" action="index.php?controller=Flight&method=flightsList" enctype="multipart/form-data">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Fecha de partida</label>
                            <input type="date" class="form-control" name="fechaPartida" required="true">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Fecha de vuelta</label>
                            <input type="date" class="form-control" name="fechaLlegada" required="false">
                        </div>
                        <div class="col-sm-6 form-group">
                                <dl class="form-group">
                                    <dt><label>Localidad origen</label></dt>
                                    <dd >
                                        <select name="paisOrigen" id="paisOrigen" class="form-control" onchange="ciudades(this.id,'ciudadOrigen');">
                                            <option disabled="disabled" selected="selected">Elegí un Pais</option>
                                            {% for country in countries %}
                                                <option value={{country.id}}>{{country.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </dd>
                                    <dd style="margin-top: 3%">
                                        <select name="ciudadOrigen" id="ciudadOrigen" class="form-control" disabled="disabled"></select>
                                    </dd>
                                </dl>
                            </div>
                        <div class="col-sm-6 form-group">
                                <dl class="form-group">
                                    <dt><label>Localidad destino</label></dt>
                                    <dd >
                                        <select name="paisDestino" id="paisDestino" class="form-control" onchange="ciudades(this.id,'ciudadDestino');">
                                            <option disabled="disabled" selected="selected">Elegí un Pais</option>
                                            {% for country in countries %}
                                                <option value={{country.id}}>{{country.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </dd>
                                    <dd style="margin-top: 3%">
                                        <select name="ciudadDestino" id="ciudadDestino" class="form-control" disabled="disabled"></select>
                                    </dd>
                                </dl>
                            </div>
                        <div class="col-sm-4 form-group">
                            <dl class="form-group">
                                <dt><label>Escalas</label></dt>
                                <dd>
                                    <select class="form-control" name="escalas">
                                        <option value="1">Directo</option>
                                        <option value="2">2 escalas</option>
                                    </select>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm-4 form-group">
                            <dl class="form-group">
                                <dt><label>Pasajeros </label></dt>
                                <dd>
                                    <input name="pasajeros" id="pasajeros" type="number" placeholder="Pasajeros" class="form-control"  min="1" onkeypress="return justNumbers(event);" required="true">
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm-4 form-group">
                           <dl class="form-group">
                                <dt><label>Clase</label></dt>
                                <dd>
                                    <select class="form-control" name="clase">
                                        {% for cls in clases %}
                                        <option value="{{cls.id}}">{{cls.descripcion}}</option>
                                        {% endfor %}
                                    </select>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div align="center">
                        <button type="submit" class="btn btn-primary navbar-btn">Buscar</button>
                        <button type="reset" class="btn btn-default navbar-btn">Restablecer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}