{% extends 'base.html.twig' %}
{% block main %}

    <div class="container">

        <h3 class="text-center well" style="background-color:#666666; color:white;font-family: 'Anton', sans-serif;color:white">Listado de Vuelos</h3>
       <div class="panel panel-primary">
          <div class="panel-heading"><h5 style="font-family: 'Anton', sans-serif;">Vuelos Directos</h5></div>
          <div class="panel-body">
          {% if flights.directos %}
              {% for flight in flights.directos%}
                  <div class="panel panel-info">
                     <div class="panel-heading"><h5 class="text-left" style="font-family: 'Anton', sans-serif;">{{flight.ciudadOrigen|capitalize}}<span class="glyphicon glyphicon-chevron-right"></span>{{flight.ciudadDestino|capitalize}}</h5></div>
                        <table class="table table-responsive" style="background-color:white">
                          <thead>
                            <tr class="row" style="background-color:#6B9293">
                              <th class="col-md-3"><h5 style="font-family: 'Coiny', cursive;color:white"> <span class="glyphicon glyphicon-plane"></span>{{flight.aerolinea}}</h5></th>
                              <th class="col-md-3"><h5  style="font-family: 'Anton', sans-serif;color:white">{{flight.ciudadOrigen|capitalize}}</h5></th>
                              <th class="col-md-2"><h5 style="font-family: 'Anton', sans-serif;color:white">{{flight.ciudadDestino|capitalize}}</h5></th>
                              <th class="col-md-2"><h5 style="font-family: 'Anton', sans-serif;color:white">Precio</h5></th>
                              <th class="col-md-2"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="row">
                              <th class="col-md-3"><h3  style="font-family: 'Coiny', cursive;">{{flight.fechaSalida|date('d/m/Y')}}</h3></th>
                              <td class="col-md-3"><h3  style="font-family: 'Coiny', cursive;">{{flight.fechaSalida|date('H:i')}}</h3></td>
                              <td class="col-md-2"><h3 style="font-family: 'Coiny', cursive;">{{flight.fechaLlegada|date('H:i')}}</h3></td>
                              <td class="col-md-2"><h3 style="font-family: 'Coiny', cursive;">$ {{flight.precio|number_format}}</h3></td>
                              <td class="col-md-2">
                                {% if carrito is not null %}
                                    {% if flight.id not in carrito['directos'] %}              
                                          <button id="{{flight.id}}" class="btn btn-primary btn-lg {{flight.id}}" style="font-family: 'Anton', sans-serif;color:white;" onclick="agregarCarrito('{{flight.id}}');">Agregar al Carrito  <span class="glyphicon glyphicon-shopping-cart"></span></button>
                                    {% else %}
                                          <button id="{{flight.id}}" class="btn btn-success btn-lg" style="font-family: 'Anton', sans-serif;color:white;" onclick="agregarCarrito('{{flight.id}}');">Agregado   <span class="glyphicon glyphicon-shopping-cart"></span></button>
                                    {% endif %}
                                {% else %}
                                    <button id="{{flight.id}}" class="btn btn-primary btn-lg {{flight.id}}" style="font-family: 'Anton', sans-serif;color:white; width=120px" onclick="agregarCarrito('{{flight.id}}');">Agregar al Carrito  <span class="glyphicon glyphicon-shopping-cart"></span></button>
                                {% endif %}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
              {% endfor %}
          {% endif %}
          </div>
        </div>
        <br>
        <br>
        <div class="panel panel-primary">
         <div class="panel-heading"><h5 style="font-family: 'Anton', sans-serif;">Vuelos Con Escala</h5></div>
        {% if flights.escalas %}
          <div class="panel-body">
            {% for flight in flights.escalas%}
                <div class="panel panel-info">
                    <div class="panel-heading text-left"><h5 class="text-left" style="font-family: 'Anton', sans-serif;margin:0;padding:0">{{flights.origen|capitalize}}<span class="glyphicon glyphicon-chevron-right"></span>{{flights.destino|capitalize}}</h5>
                    </div>
                    <div class="panel-body"  style="margin:0">
                     <table class="table" style="background-color:white">
                     {% for escala in flight.vuelos %}
                            <thead>
                              <tr class="row" style="background-color:#6B9293">
                                <th class="col-md-6"><h5 style="font-family: 'Coiny', cursive;color:white"> <span class="glyphicon glyphicon-plane"></span>{{escala.aerolinea}}</h5></th>
                                <th class="col-md-4"><h5  style="font-family: 'Anton', sans-serif;color:white;width=120%">{{escala.ciudadOrigen|capitalize}}</h5></th>
                                <th class="col-md-2"><h5  style="font-family: 'Anton', sans-serif;color:white">{{escala.ciudadDestino|capitalize}}</h5></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="row">
                                <th class="col-md-6"><h3 style="font-family: 'Coiny', cursive;">{{escala.fechaSalida|date('d/m/Y')}}</h3></th>
                                <td class="col-md-4"><h3 style="font-family: 'Coiny', cursive;">{{escala.fechaSalida|date('H:i')}}</h3></td>
                                <td class="col-md-2"><h3 style="font-family: 'Coiny', cursive;">{{escala.fechaLlegada|date('H:i')}}</h3></td>
                              </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                    <div class="alert alert-info text-right" role="alert" style="margin:0">
                      <h2 style="font-family: 'Coiny', cursive;">$ {{flight.precio|number_format}}</h2>
                      {% if carrito is not null %}
                          {% if flight.id not in carrito['escalas'] %}              
                                <button id="{{flight.id}}" class="btn btn-primary btn-lg {{flight.id}}" style="font-family: 'Anton', sans-serif;color:white;" onclick="agregarCarrito('{{flight.id}}');">Agregar al Carrito  <span class="glyphicon glyphicon-shopping-cart"></span></button>
                          {% else %}
                                <button id="{{flight.id}}" class="btn btn-success btn-lg" style="font-family: 'Anton', sans-serif;color:white;" onclick="agregarCarrito('{{flight.id}}');">Agregado   <span class="glyphicon glyphicon-shopping-cart"></span></button>
                          {% endif %}
                      {% else %}
                          <button id="{{flight.id}}" class="btn btn-primary btn-lg {{flight.id}}" style="font-family: 'Anton', sans-serif;color:white; width=120px" onclick="agregarCarrito('{{flight.id}}');">Agregar al Carrito  <span class="glyphicon glyphicon-shopping-cart"></span></button>
                      {% endif %}
                    </div>
                    </div>
                </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
  </div>
        {% if flights.directos is empty and flights.escalas is empty %}
            <div class="alert alert-warning" role="alert"><strong>Oops!</strong> No se han encontrado vuelos con los filtros ingresados.</div>
        {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="assets/js/carrito/carrito.js"></script>
{% endblock %}
