{% extends 'base.html.twig' %}
{% block main %}
    <div class="container">
        <h1 class="well">Listado de Vuelos</h1>
        
        {% if flight %}
            
            <div class="panel panel-default">
                <table class="table">
                    <tr>
                        <td align="center"><strong>Origen</strong></td>
                        <td align="center"><strong>Destino</strong></td>
                        <td align="center"><strong>Escalas</strong></td>
                        <td align="center"><strong>Fecha Salida</strong></td>
                        <td align="center"><strong>Fecha Llegada</strong></td>
                        <td align="center"><strong>Precio</strong></td>
                        <td align="center"><strong>Categoria</strong></td>
                        <td align="center"><strong>Aerolinea</strong></td>
                        
                    </tr>
                    {% for fly in flight %}
                    <tr>
                        <td align="center">{{ fly.getCiudadOrigen }}, {{ fly.getPaisOrigen }}</td>
                        <td align="center">{{ fly.getCiudadDestino }}, {{ fly.getPaisDestino }}</td>
                        <td align="center">{{ fly.getEscala }}</td>
                        <td align="center">{{ fly.getFechaSalida }}</td>
                        <td align="center">{{ fly.getFechaLlegada }}</td>
                        <td align="center">${{ fly.getPrecio }}</td>
                        {% if fly.getCategoria == 1 %}
                        <td align="center">Economico</td>
                    {% endif %}
                    {% if fly.getCategoria == 2 %}
                        <td align="center">Primera</td>
                    {% endif %}
                    {% if fly.getCategoria == 3 %}
                        <td align="center">Ejecutivo</td>
                    {% endif %}
                    {%if fly.getAereolinea == 1 %}
                       <td align="center">KLM</td>
                {% endif %} 
                {%if fly.getAereolinea == 2 %}
                       <td align="center">Transilvania Airlines</td>
                {% endif %} 
                {%if fly.getAereolinea == 3 %}
                       <td align="center">Denim Air</td>
                {% endif %} 
                {%if fly.getAereolinea == 4 %}
                       <td align="center">Qatar Airways</td>
                {% endif %} 
                {%if fly.getAereolinea == 5 %}
                       <td align="center">Singapur Airlines</td>
                {% endif %} 
                        {% if rol == 'cliente' %}
                            <td align="center"><a style="text-decoration: none;" href="./?controller=Cart&method=add_flight_to_cart&id={{flight.getId}}">Agregar <i class="glyphicon glyphicon-shopping-cart"></i></a></td>    
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert"><strong>Oops!</strong> No se han encontrado vuelos con los filtros ingresados.</div>
        {% endif %} 
    </div>
{% endblock %}