{% extends 'base.html.twig' %}
{% block main %}
<div class="container" style="margin: auto">
    <div id="alerta-msj" class="alert alert-warning alert-dismissible" role="alert" hidden>
      <button id="boton-reset" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
      </button>
      <strong>Agregado!</strong> El vuelo se dio de alta correctamente.
    </div>
    <h1 class="col-lg-12 well">Alta de Vuelo</h1>
    <div class="col-lg-12 well">
        <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <dl class="form-group">
                                <dt><label>Origen</label></dt>
                                <dd>
                                    <select name="paisOrigen" id="paisOrigen" class="form-control" onchange="ciudades(this.id,'ciudadOrigen');">
                                        <option disabled="" selected="">Elija un Pais</option>
                                        {% for country in countries %}
                                            <option value={{country.id}}>{{country.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </dd>
                                <dd style="margin-top: 3%">
                                    <select name="ciudadOrigen" id="ciudadOrigen"  class="form-control" disabled>
                                    </select>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 form-group">
                            <dl class="form-group">
                                <dt><label>Destino</label></dt>
                                <dd >
                                    <select name="paisDestino" id="paisDestino" class="form-control" onchange="ciudades(this.id,'ciudadDestino');">
                                        <option disabled selected>Elegí un Pais</option>
                                        {% for country in countries %}
                                            <option value={{country.id}}>{{country.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </dd>
                                <dd style="margin-top: 3%">
                                    <select name="ciudadDestino" id="ciudadDestino"  class="form-control" disabled>
                                    </select>
                                </dd>
                            </dl>
                        </div>



                        <div class="col-sm-6 form-group">
                            <dl class="form-group">
                                <dt><label>Aerolinea</label></dt>
                                <dd>
                                    <select class="form-control" name="aerolinea" id="aerolinea">
                                        <option value="" disabled="disabled" selected="">Elija una aerolinea</option>
                                        {% for airline in airlines %}
                                            <option value={{airline.id}}>{{airline.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 form-group">
                            <dl class="form-group">
                                <dt><label>Precio </label></dt>
                                <dd>
                                    <input name="precio" id="precio" type="price" placeholder="Precio" class="form-control"  min="0.00"  step="0.01"  onkeypress="return justNumbers(event);" required="true">
                                </dd>
                            </dl>
                        </div>

                        <div class="col-sm-4 form-group">
                            <label>Fecha de partida</label>
                            <input type="date" class="form-control" name="fechaPartida" required="true" id="fechaPartida">
                        </div>
                        <div class="col-sm-4 form-group">
                             <label>Hora</label>
                              <input type="time" class="form-control" name="hora" min="00:00" max="24:00" placeholder="hora" id="hora" required="true" >
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Duracion</label>
                            <input type="text" class="form-control" name="duracion" placeholder="hh:mm" required="true" pattern="^[0-9]{2}:[0-9]{2}$" maxlength="5" id="duracion">
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Capacidad </label>
                            <input type="number" min="0" class="form-control" name="economica" placeholder="Economica" id="economica" required="true">
                        </div>
                        <div class="col-sm-4 form-group" style="margin-top: 0.6vh;">
                            <label> </label>
                            <input type="number" min="0" class="form-control" name="ejecutiva" placeholder="Ejecutiva" id="ejecutiva" required="true">
                        </div>
                      
                        <div class="col-sm-4 form-group" style="margin-top: 0.6vh;">
                            <label></label>
                            <input id="primera" type="number" min="0" class="form-control" name="primera" placeholder="Primera Clase" required="true">
                        </div>
                    </div>
                    <div align="center">
                        <button id="button-validacion" class="btn btn-success navbar-btn">Agregar</button>
                        <button type="reset" class="btn btn-default navbar-btn">Restablecer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="assets/js/flight/flightValidation.js"></script>
{% endblock %}
