{% extends 'base.html.twig' %}
{% block main %}
    <div class="container">
        <h1 class="well">Listado de Habitaciones</h1>
        {% if rooms %}
            <div class="panel panel-default">
                <table class="table">
                    <tr>
                        <td align="center"><strong>Fecha Inicio</strong></td>
                        <td align="center"><strong>Fecha Fin</strong></td>
                        <td align="center"><strong>Hotel</strong></td>
                        <td align="center"><strong>Ubicacion</strong></td>
                        <td align="center"><strong>Estrellas</strong></td>
                        <td align="center"><strong>Capacidad</strong></td>
                        <td align="center"><strong>Precio</strong></td>
                        <td align="center"></td>
                    </tr>
                    {% for room in rooms %}
                    <tr>
                        <td align="center">{{ fechaDesde }}</td>
                        <td align="center">{{ fechaHasta }}</td>
                        <td align="center">{{ room.getHotel.getNombre }}</td>
                        <td align="center">{{ room.getCiudadDestino }}, {{ room.getPaisDestino }}</td>
                        <td align="center">{{ room.getHotel.getEstrellas }}</td>
                        <td align="center">{{ room.getCapacidad }}</td>
                        <td align="center">${{ room.getPrecio }}</td>
                        {% if rol == 'cliente' %}

                    <div class="text-right">
                      {% if rooms_carrito is not null %}
                          {% if room.id not in rooms_carrito %}              
                                <button id="{{room.id}}" class="btn btn-primary btn-lg {{room.id}}" style="font-family: 'Anton', sans-serif;color:white; width=120px" onclick="agregarHabitacionCarrito('{{room.id}}','{{fechaDesde}}','{{fechaHasta}}');">Agregar   <span class="glyphicon glyphicon-shopping-cart"></span></button>
                          {% else %}
                                <button id="{{room.id}}" class="btn btn-success btn-lg" style="font-family: 'Anton', sans-serif;color:white; width=120px" onclick="agregarHabitacionCarrito('{{room.id}}');">Agregado   <span class="glyphicon glyphicon-shopping-cart"></span></button>
                          {% endif %}
                      {% else %}
                          <button id="{{room.id}}" class="btn btn-primary btn-lg {{room.id}}" style="font-family: 'Anton', sans-serif;color:white; width=120px" onclick="agregarHabitacionCarrito('{{room.id}}','{{fechaDesde}}','{{fechaHasta}}');">Agregar   <span class="glyphicon glyphicon-shopping-cart"></span></button>
                      {% endif %}


                    </div>
                                
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert"><strong>Oops!</strong> No se han encontrado habitaciones con los filtros ingresados.</div>
        {% endif %}
        <div align="center">
            <button class="btn btn-primary navbar-btn" onClick="window.location.href='javascript:history.back(-1);'">Volver</button>
        </div>  
    </div>
{% endblock %}

{% block javascripts %}
    <script src="assets/js/carrito/carrito.js"></script>
{% endblock %}